*{
	margin: 0;
	padding: 0;
}
body{
	background-color: $back-color-body;
}
/* NAVBAR Y CAROUSEL */
.nombre_logo{
	color: $nav_color;
	margin-top: 25px;
}
.icons{
	@include excel();
}
.boton-nav{
	margin-top: 16px;
	@include boton();
}
.cont-carousel{
	height: 550px;
}
.carousel-caption{
	h1{
		font-size: 70px;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	h4{
		font-family: $font-NotoSerif;
		margin-bottom: 80px;
	}
	button{
		width: 150px;
		margin-bottom: 70px;
		@include boton();
	}
}

/* RESPONSIVE, QUALITY, SUPPORT */
.second-section{
	background-color: $iconos_nav;
	width: $width-container;
	border-radius: 10px;
	position: relative;
	bottom: 60px;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	.row{
		.glyphicon-th{
			color: $boton-color-nav;
			@include iconos-container-dos();
		}
		.glyphicon-th-list{
			color: #0DA7C8;
			@include iconos-container-dos();
		}
		.glyphicon-menu-hamburger{
			color: #099C17;
			@include iconos-container-dos();
		}
		p{
			font-family: $font-raleway;
			color: $font-color-2section;
			font-size: 16px;
			padding: 50px 20px;
			margin: auto 20px;
		}
	}
}

/* WHO ARE WE NOW */
.third-section{
	width: $width-container;
	height: 950px;
	position: relative;
	bottom: 60px;
	background-image: url(../img/img_city.jpg);
	background-attachment : fixed;
	background-size: cover;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	.row{
		div{
			padding-top: 40px;
			padding-left: 70px;
			h1{
				font-size: 40px;
				padding: 30px;
				font-weight: bolder;
				color: $nav_color;
				font-family: $font-NotoSerif;
			}
			p{
				padding: 10px;
				font-size: 18px;
				font-weight: bold;
				color: $nav_color;
				font-family: $font-raleway;
			}
		}
		div{
			img{
				padding-right: 60px;
				padding-top: 30px;
			}
		}
	}
}

/* PRODUCTS */
.fourth-section{
	width: $width-container;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	position: relative;
	bottom: 60px;
	height: 1000px;
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
			}
			p{
				margin: 40px;
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 18px;
				margin-top: 30px;
			}
		}
	}
	.row{
		div{
			img{
				position: relative;
				right: 20px;
				bottom: 50px;
				width: 300px;
				height: 370px;
				border-radius: 10px;
				margin: 20px;
			}
			.descripcion-titulo{
				font-family: $font-raleway;
				color: $boton-color-nav;
				@include titulo-parrafo();
			}
			.descripcion-subtitulo{
				font-family: $font-NotoSerif;
				color: #615F5F;
				@include titulo-parrafo;
			}
			.descripcion-parrafo{
				font-family: $font-raleway;
				position: relative;
				font-size: 15px;
				bottom: 55px;
			}
			.icon-descripcion{
				position: relative;
				top: -30px;
				color: $font-color-2section;
				font-size: 25px;
			}
			.price-description{
				position: relative;
				top: -65px;
				color: $font-color-2section;
			}
		}
	}
}
.div-img{
	background-color: $nav_color;
	border-radius: 10px;
	height: 700px;
	width: 250px;
	margin: 30px;
}
/* PORTFOLIO */
.fifth-section{
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
				margin-top: 90px;
				margin-bottom: 30px;
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
			}
		}
	}
	.row{
		div{
			.img-portfolio{
				border-radius: 50px;
				margin-bottom: 20px;
				margin-left: 5px;
				padding: 20px;
			}
		}
	}
	@include container();
}
/* MEET OUR TEAM */
.sixth-section{
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
				margin-top: 90px;
				margin-bottom: 30px;
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
				padding: 20px;
			}
		}
	}.row{
		div{
			.row{
				margin-bottom: 20px;
				margin-top: 30px;
				div{
					.img-our-team{
						border-radius: 25px;
						margin-bottom: 20px;
						margin-left: 35px;
						padding: 18px;
					}
				}
				div{
					.tittle{
						font-family: $font-NotoSerif;
						color: #4C4B4B;
						font-weight: bolder;
						font-size: 17px;
						padding-top: 15px;
						padding-left: 10px;
					}
					h5{
						font-family: $font-raleway;
						color: #615F5F;
						font-size: 12px;
						font-weight: bolder;
						padding-left: 10px;
					}
					p{
						font-family: $font-raleway;
						font-size: 14px;
						padding-left: 10px;
					}
					.facebook{
						color: #130BB7;
						font-size: 15px;
						margin-left: 30px;
					}
					.google{
						color: #E80C0C;
						font-size: 15px;
						margin-left: 30px;
					}
					.twitter{
						color: #34B4D0;
						font-size: 15px;
						margin-left: 30px;
					}
					.pinterest{
						color: #E80C0C;
						font-size: 15px;
						margin-left: 30px;
					}
					.linkedin{
						color: #5765EA;
						font-size: 15px;
						margin-left: 30px;
					}
					.github{
						font-size: 15px;
						margin-left: 30px;
					}
				}
			}
		}
	}
	padding-bottom: 60px;
	@include container();
}
/* CHOOSE A PLAN FOR YOUR NEXT PROJECT */
.seventh-section{
	width: $width-container;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	background-color: $back-color-body;
	position: relative;
	bottom: 60px;
	padding-top: 100px;
	padding-bottom: 100px;
	.row{
		div{
			margin-right: 10px;
			.titulo-choose{
			font-family: $font-NotoSerif;
			color: #414040;
			font-weight: bolder;
			font-size: 30px;
			padding-left: 60px;
			}
			.parraf{
			font-family: $font-raleway;
			color: #9D9D9D;
			font-size: 14px;
			margin-top: 50px;
			padding-left: 60px;
			}
		}
		.prices{
			background-color: $nav_color;
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.95);
			h5{
				font-family: $font-raleway;
				color: #ABAAAA;
				font-size: 12px;
				font-weight: bolder;
			}
			.price-year{
				font-size: 50px;
				font-weight: bolder;
			}
			.year{
				font-family: $font-NotoSerif;
				color: #989797;
				font-size: 20px;
			}
			.description-prices{
				font-family: $font-raleway;
				color: #828282;
				margin-top: 20px;
			}
			button{
				margin-top: 30px;
				@include boton();
			}
			@include prices();
		}
		.prices2{
			h5{
				font-family: $font-raleway;
				color: #ABAAAA;
				font-size: 12px;
				font-weight: bolder;
			}
			.price-year{
				font-size: 50px;
				font-weight: bolder;
			}
			.year{
				font-family: $font-NotoSerif;
				color: #989797;
				font-size: 20px;
			}
			.description-prices{
				font-family: $font-raleway;
				color: #828282;
				margin-top: 20px;
			}
			button{
				margin-top: 30px;
				@include boton();
			}
			@include prices();
		}
	}
}
/* OUR CLIENTS LOVE US */
.eighth-section{
	.row{
		div{
			h1{
				@include tituloUno();
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
				padding: 20px;
			}
		}
	}
	.row{
		div{
			padding: 30px;
			img{
				width: 30%;
				box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
			}
			.tittle{
				font-family: $font-NotoSerif;
				color: #4C4B4B;
				font-weight: bolder;
				font-size: 17px;
				padding-top: 15px;
				padding-left: 10px;
			}
			h5{
				font-family: $font-raleway;
				color: #615F5F;
				font-size: 12px;
				font-weight: bolder;
				padding-left: 10px;
			}
			p{
				font-family: $font-raleway;
				font-size: 14px;
				padding-left: 10px;
			}
		}
	}
	@include container();
}
/* SUSCRIBE TO OUR NEWSLETTER */
.ninth-section{
	background-image: url(../img/about.jpg);
	height: 60vh;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center top;
  	width: $width-container;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	position: relative;
	bottom: 60px;
	.row{
		div{
			h1{
				color: $iconos_nav;
				@include tituloUno();
			}
			h4{
				font-family: $font-raleway;
				color: $iconos_nav;
				margin-bottom: 20px;
			}
			.row{
				.div-input{
					background-color: $iconos_nav;
					width: 50%;
					padding: 10px;
					border-radius: 10px;
					position: relative;
					left: 350px;
				}
				input{
					width: 50%;
					border: 0px;
					margin-top: 15px;
					border-bottom: 1px solid grey;
				}
				button{
					margin-left: 50px;
					@include boton();
				}
			}
		}
	}
}
/* CHECKOUT OUR LATEST NEWS */
.tenth-section{
	.row{
		div{
			h1{
				@include tituloUno();
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
				padding: 20px;
			}
			img{
				border-radius: 20px;
				padding: 15px;
			}
			.appearance1{
				color: $boton-color-nav;
				@include appearances();				
			}
			.appearance2{
				color: #23B0E4;
				@include appearances();
			}
			.appearance3{
				color: #FC2312;
				@include appearances();
			}
			.tittle{
				font-family: $font-NotoSerif;
				color: #4C4B4B;
				font-weight: bolder;
				font-size: 17px;
				position: relative;
				bottom: 25px;
				left: 10px;
				padding-left: 10px;
			}
			.parrafo-blog{
				font-family: $font-raleway;
				font-size: 14px;
				padding-left: 10px;
				position: relative;
				bottom: 25px;
				left: 10px;
			}
		}
	}
	height: 850px;
	@include container();
}
/* GET IN TOUCH */
.eleventh-section{
	background-image: url(../img/img_city.jpg);
	height: 95vh;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center top;
  	width: 95.1%;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	position: relative;
	bottom: 60px;
	.row{
		div{
			h1{
				color: $iconos_nav;
				margin-left: 40px;
				@include tituloUno();
			}
			p{
				font-family: $font-raleway;
				color: $iconos_nav;
				font-size: 17px;
				margin-left: 40px;
			}
			.row{
				div{
					i{
						color: $iconos_nav;
						font-size: 30px;
						position:relative;
						top: 15px;
						left: 50px;
					}
				}
				div{
					h3{
						font-family: $font-NotoSerif;
						color: $iconos_nav;
						font-size: 20px;
						font-weight: bolder;
						margin-left: 20px;
					}
					p{
						color: $iconos_nav;
						font-size: 13px;
						font-weight: bolder;
					}
				}
			}
		}
		.fondo-contact{
			background-color: $iconos_nav;
			border-radius: 10px;
			margin-top: 100px;
			margin-left: 70px;
			width: 35%;
			height: 450px;
			.row{
				.contact-us{
					h3{
						color: $iconos_nav;
						margin-top: 60px;
						font-family: $font-NotoSerif;
						font-size: 20px;
						font-weight: bolder;
						margin-top: 90px;
						margin-bottom: 30px;
						background-color: $boton-color-nav;
						width: 97%;
						padding: 25px;
						border-radius: 5px;
						position: relative;
						bottom: 110px;
						right: 15px;
						box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
					}
					
				}
			}
			.row{
				div{
					.input1{
						width: 90%;
						border: 0px;
						margin-top: 15px;
						border-bottom: 1px solid #A7A6A6;
						color: #A7A6A6;
						margin-bottom: 20px;
						position: relative;
						bottom: 100px;
					}
				}
			}
			.row{
				div{
					.input2{
						width: 95%;
						border: 0px;
						margin-top: 15px;
						border-bottom: 1px solid #A7A6A6;
						color: #A7A6A6;
						position: relative;
						bottom: 100px;
					}
				}
			}
			.row{
				div{
					.form-group{
						label{
							color: #A7A6A6;
							margin-left: 15px;
							position: relative;
							bottom: 70px;
						}
						textarea{
							width: 95%;
							border: 0px;
							margin-top: 15px;
							border-bottom: 1px solid #A7A6A6;
							color: #A7A6A6;
							position: relative;
							left: 10px;
							bottom: 90px;
						}
					}
				}
			}
			.row{
				div{
					button{
						position: relative;
						bottom: 80px;
						right: 10px;
						@include boton();
					}
				}
			}
		}
	}
}