*{
	margin: 0;
	padding: 0;
}
body{
	background-color: $back-color-body;
}
/* NAVBAR Y CAROUSEL */
.nombre_logo{
	color: $nav_color;
	margin-top: 25px;
}
.icons{
	@include excel();
}
.boton-nav{
	margin-top: 16px;
	@include boton();
}
.cont-carousel{
	height: 550px;
}
.carousel-caption{
	h1{
		font-size: 70px;
		font-weight: bolder;
		margin-bottom: 20px;
	}
	h4{
		font-family: $font-NotoSerif;
		margin-bottom: 80px;
	}
	button{
		width: 150px;
		margin-bottom: 70px;
		@include boton();
	}
}

/* SECOND SECTION */
.second-section{
	background-color: $iconos_nav;
	width: $width-container;
	border-radius: 10px;
	position: relative;
	bottom: 60px;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	.row{
		.glyphicon-th{
			color: $boton-color-nav;
			@include iconos-container-dos();
		}
		.glyphicon-th-list{
			color: #0DA7C8;
			@include iconos-container-dos();
		}
		.glyphicon-menu-hamburger{
			color: #099C17;
			@include iconos-container-dos();
		}
		p{
			font-family: $font-raleway;
			color: $font-color-2section;
			font-size: 16px;
			padding: 50px 20px;
			margin: auto 20px;
		}
	}
}

/* THRID SECTION */
.third-section{
	width: $width-container;
	height: 950px;
	position: relative;
	bottom: 60px;
	background-image: url(../img/img_city.jpg);
	background-attachment : fixed;
	background-size: cover;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	.row{
		div{
			padding-top: 40px;
			padding-left: 70px;
			h1{
				font-size: 40px;
				padding: 30px;
				font-weight: bolder;
				color: $nav_color;
				font-family: $font-NotoSerif;
			}
			p{
				padding: 10px;
				font-size: 18px;
				font-weight: bold;
				color: $nav_color;
				font-family: $font-raleway;
			}
		}
		div{
			img{
				padding-right: 60px;
				padding-top: 30px;
			}
		}
	}
}

/* FOURTH SECTION */
.fourth-section{
	width: $width-container;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	position: relative;
	bottom: 60px;
	height: 1000px;
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
			}
			p{
				margin: 40px;
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 18px;
				margin-top: 30px;
			}
		}
	}
	.row{
		div{
			img{
				position: relative;
				right: 20px;
				bottom: 50px;
				width: 300px;
				height: 370px;
				border-radius: 10px;
				margin: 20px;
			}
			.descripcion-titulo{
				font-family: $font-raleway;
				color: $boton-color-nav;
				@include titulo-parrafo();
			}
			.descripcion-subtitulo{
				font-family: $font-NotoSerif;
				color: #615F5F;
				@include titulo-parrafo;
			}
			.descripcion-parrafo{
				font-family: $font-raleway;
				position: relative;
				font-size: 15px;
				bottom: 55px;
			}
			.icon-descripcion{
				position: relative;
				top: -30px;
				color: $font-color-2section;
				font-size: 25px;
			}
			.price-description{
				position: relative;
				top: -65px;
				color: $font-color-2section;
			}
		}
	}
}
.div-img{
	background-color: $nav_color;
	border-radius: 10px;
	height: 700px;
	width: 250px;
	margin: 30px;
}
/* FIFTH SECTION */
.fifth-section{
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
				margin-top: 90px;
				margin-bottom: 30px;
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
			}
		}
	}
	.row{
		div{
			.img-portfolio{
				border-radius: 50px;
				margin-bottom: 20px;
				margin-left: 5px;
				padding: 20px;
			}
		}
	}
	@include container();
}
/* SIXTH SECTION */
.sixth-section{
	.row{
		div{
			h1{
				margin-top: 60px;
				font-family: $font-NotoSerif;
				font-size: 35px;
				font-weight: bolder;
				margin-top: 90px;
				margin-bottom: 30px;
			}
			p{
				font-family: $font-raleway;
				color: $font-color-2section;
				font-size: 17px;
				margin-bottom: 30px;
				padding: 20px;
			}
		}
	}.row{
		div{
			.row{
				margin-bottom: 20px;
				margin-top: 30px;
				div{
					.img-our-team{
						border-radius: 25px;
						margin-bottom: 20px;
						margin-left: 35px;
						padding: 18px;
					}
				}
				div{
					.tittle{
						font-family: $font-NotoSerif;
						color: #4C4B4B;
						font-weight: bolder;
						font-size: 17px;
						padding-top: 15px;
						padding-left: 10px;
					}
					h5{
						font-family: $font-raleway;
						color: #615F5F;
						font-size: 12px;
						font-weight: bolder;
						padding-left: 10px;
					}
					p{
						font-family: $font-raleway;
						font-size: 14px;
						padding-left: 10px;
					}
					.facebook{
						color: #130BB7;
						font-size: 15px;
						margin-left: 30px;
					}
					.google{
						color: #E80C0C;
						font-size: 15px;
						margin-left: 30px;
					}
					.twitter{
						color: #34B4D0;
						font-size: 15px;
						margin-left: 30px;
					}
					.pinterest{
						color: #E80C0C;
						font-size: 15px;
						margin-left: 30px;
					}
					.linkedin{
						color: #5765EA;
						font-size: 15px;
						margin-left: 30px;
					}
					.github{
						font-size: 15px;
						margin-left: 30px;
					}
				}
			}
		}
	}
	padding-bottom: 60px;
	@include container();
}
/* SEVENTH SECTION */
.seventh-section{
	width: $width-container;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	background-color: $back-color-body;
	position: relative;
	bottom: 60px;
	padding-top: 100px;
	padding-bottom: 70px;
	.row{
		div{
			margin-right: 10px;
			.titulo-choose{
			font-family: $font-NotoSerif;
			color: #414040;
			font-weight: bolder;
			font-size: 30px;
			padding-left: 60px;
			}
			.parraf{
			font-family: $font-raleway;
			color: #9D9D9D;
			font-size: 14px;
			margin-top: 50px;
			padding-left: 60px;
			}
		}
		.prices{
			background-color: $nav_color;
			box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.95);
			h5{
				font-family: $font-raleway;
				color: #ABAAAA;
				font-size: 12px;
				font-weight: bolder;
			}
			.price-year{
				font-size: 50px;
				font-weight: bolder;
			}
			.year{
				font-family: $font-NotoSerif;
				color: #989797;
				font-size: 20px;
			}
			.description-prices{
				font-family: $font-raleway;
				color: #828282;
				margin-top: 20px;
			}
			button{
				margin-top: 30px;
				@include boton();
			}
			@include prices();
		}
		.prices2{
			h5{
				font-family: $font-raleway;
				color: #ABAAAA;
				font-size: 12px;
				font-weight: bolder;
			}
			.price-year{
				font-size: 50px;
				font-weight: bolder;
			}
			.year{
				font-family: $font-NotoSerif;
				color: #989797;
				font-size: 20px;
			}
			.description-prices{
				font-family: $font-raleway;
				color: #828282;
				margin-top: 20px;
			}
			button{
				margin-top: 30px;
				@include boton();
			}
			@include prices();
		}
	}
}
.ninth-section{
	background-image: url(../img/about.jpg);
	height: 70vh;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center top;
}
.eleventh-section{
	background-image: url(../img/img_city.jpg);
	height: 70vh;
  	background-size: cover;
  	background-repeat: no-repeat;
}