@mixin excel(){
	color: $iconos_nav;
	padding-top: 20px;
}
@mixin boton(){
	background-color: $boton-color-nav;
	border-color: $boton-color-nav;
	padding: 15px;
	color: $iconos_nav;
}
@mixin iconos-container-dos(){
	font-size: 50px;
	margin-top: 30px;
}
@mixin titulo-parrafo(){
	position: relative;
	bottom: 45px;
	font-weight: bolder;
}
@mixin container(){
	width: $width-container;
	background-color: $iconos_nav;
	position: relative;
	bottom: 60px;
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
}