$back-color-body: #DBDADA;
$nav_color: #FFFEFE;
$iconos_nav: #FFFEFE;
$boton-color-nav: #F31951;
$font-raleway: 'Raleway', sans-serif;
$font-NotoSerif: 'Noto Serif', serif;
$font-NotoSerif: 'Noto Serif', serif;
$font-color-2section: #A3A2A2;

